* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Baloo 2", cursive;
    font-family: "Bonheur Royale", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Bonheur+Royale&display=swap");
}


/*CONTENEDOR VISTA REGISTRO*/

.inputRegister {
    backdrop-filter: blur(0.3rem);
    border: 0.3rem solid var(--white-brown-color);
    border-radius: 1.25rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
}


/*IMG HEADER VISTA LOGIN*/

.imgLogo,
.container-img {
    text-align: center;
}


/*CONTENEDOR VISTA LOGIN*/

.inputUser {
    display: grid;
    text-align: center;
}


/*TXT BIENVENIDA*/

.txtSing {
    justify-content: center;
    text-align: center;
    margin: 1rem;
    font-family: "Baloo 2", cursive;
    border-top: solid;
    padding-bottom: 1rem;
}

.userCont {
    margin: 1.1rem;
}


/*CONT. PASS*/

.passCont {
    display: grid;
    padding-bottom: 1rem;
}

.btnConfirmation {
    text-align: center;
    margin-bottom: 20rem;
    justify-content: right;
}


/*USERNAME CONTAINER*/

.userNameCont {
    display: grid;
}