* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

 :root {
    --black-color: #000000;
    --brown-dark-color: #69442d;
    --chocolate-color: #995b36;
    --brown-light-color: #dec6af;
    --white-brown-color: #f5f5f5;
    --alert-txt-color: #FF0000;
    --opacity-bg-post: rgba(105, 68, 45, 0.7);
    --background-gradiant-desktop: linear-gradient( 0deg, rgba(222, 198, 175, 0.8) 0%, rgba(105, 68, 45, 1) 70%);
    --background-gradient-mobil-color: linear-gradient( 90deg, rgba(222, 198, 175, 1) 80%, rgba(105, 68, 45, 1) 100%);
}

@font-face {
    font-family: "Baloo 2", cursive;
    font-family: "Bonheur Royale", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Bonheur+Royale&display=swap");
}

#root {
    grid-template-columns: 50% 50%;
    column-gap: initial;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bgcover.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    scroll-behavior: smooth;
}


/*ESTILOS HEADER Y NAV*/


/*HEADER*/

.containerHeader {
    position: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    margin-top: 10%;
    z-index: 3;
}

.container-img {
    justify-items: center;
    align-items: center;
    margin: 1.5rem;
    height: 3rem;
}


/*IMG LIBRO HOME*/

.container-imgHome,
.error-img {
    display: flex;
    justify-content: center;
}

.img-home {
    height: 15rem;
    width: 50rem;
    justify-items: center;
    border: #69442d 0.1rem solid;
}

.google {
    width: 1.2rem;
    height: 1.2rem;
}


/*BTNS*/

.btn-logOut,
.btnDelete,
.btnEdit,
.saveBtn,
.btnConfirmation {
    border: 0.1rem solid var(--white-brown-color);
    cursor: pointer;
    background-color: var(--chocolate-color);
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
    color: var(--white-brown-color);
    border-radius: 1.25rem;
    width: 8rem;
    padding: 0.4rem;
}


/*NAV*/


/*ICONOS*/

.icon-nav {
    margin: 0.7rem;
    font-size: 1.1rem;
    color: #f5f5f5;
}


/*ESTILOS INPUT TITLE Y TEXAREA COMENTARIO*/

.formPost {
    display: grid;
    position: fixed;
    margin-top: 10%;
    margin-left: 2%;
}


/*ESTILOS LABEL TITLE y DESCRIPTION*/

.textTitle,
.descrpTitle,
.textarea,
.titlePost {
    font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 5rem;
    text-align: center;
}

.titlePost {
    margin-top: 1rem;
}


/*INPUT TITLE*/

input[type="text" i],
input[type="password" i],
input[type="email" i] {
    border-radius: 5rem;
    border: 0;
    outline: none;
    background-color: var(--opacity-bg-post);
    color: var(--white-brown-color);
    padding: 0.5rem;
}


/*ESTILO TEXTAREA*/

.textarea,
.commentDone {
    border-radius: 0 1rem 0 1rem;
    border: #995b36 solid;
    background-color: var(--opacity-bg-post);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    height: 10rem;
    width: 30rem;
    margin-top: 1rem;
}


/*textarea*/

.commentDone {
    background-color: var(--brown-light-color);
    border-radius: 0.5rem;
    margin: 1rem;
}


/*ESTILOS BTNS*/

.btn-addPost {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: 5rem;
}


/*btnsEdition*/


/*btn edition container*/

.btnsEdition {
    display: grid;
    height: fit-content;
    grid-column-end: 3;
    margin: 2px 1em 0 auto;
}

#addPost:hover,
.btn-logOut:hover,
.btnDelete:hover,
.btnEdit:hover,
.saveBtn:hover:hover,
.links:hover,
.btnConfirmation:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

#addPost {
    text-decoration: none;
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
    color: var(--white-brown-color);
    border: 0.1rem solid #dec6af;
    padding: 0.3rem;
    background-color: var(--chocolate-color);
    border-radius: 1.25rem;
    width: 10rem;
}


/*conteneror post creados*/

#containerPost {
    display: table-column;
    border-radius: 1rem;
    background-color: var(--opacity-bg-post);
    margin-bottom: 3rem;
}

.containerPostAdd {
    display: grid;
    grid-template-columns: 2fr;
    justify-items: right;
}


/*CONTENIDO DE LIKES*/

.likeContainer {
    display: grid;
    align-items: center;
    justify-items: end;
    margin: -5rem 2rem 0 0;
}

.counter {
    background: none;
    border: none;
    padding-right: 0;
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
    width: 3.125rem;
}

.like {
    font-family: "Baloo 2", cursive;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border-color: transparent;
    padding: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    text-align: center
}

.fa-heart:before,
.fa-circle-plus::before {
    padding: 0 0.3rem 0 0;
}

.like:hover {
    transition: 0.3s;
    opacity: 0.5;
}


/*ESTILOS LOGIN*/

.inputUser {
    display: grid;
    padding: 3rem;
    margin-bottom: 10rem;
    backdrop-filter: blur(0.3rem);
    border: var(--white-brown-color) 0.3rem solid;
    border-radius: 1.25rem;
    justify-content: space-evenly;
}


/*TITLE WELCOME*/

.titleWelcome {
    text-align: center;
    align-items: center;
    padding: 1rem;
    font-family: "Baloo 2", cursive;
}

label {
    font-family: "Baloo 2", cursive;
    font-size: 1.5rem;
    padding-right: 1rem;
}

::placeholder {
    color: var(--white-brown-color);
    font-size: 1.3em;
}

.containerBtns {
    display: grid;
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 10rem;
}

.links {
    text-align: center;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--black-color);
    text-decoration: none;
    border: 0.3rem solid var(--white-brown-color);
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    letter-spacing: 0.3rem;
    backdrop-filter: blur(0.3rem)
}